<h1>All htmlTwitter Users</h1>
<h2>but really instead of all users, we should so all tweets, sorted by date, in descending order, most recent first</h2>
<h2>and make all username's link to user pages</h2>

<ul>
  <% @users.each do |user| %>
  <strong><p><%= link_to user.username, user_path(user) %></p></strong>
  <% user.tweets.each do |tweet| %>
  <%= tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>
  <!-- above is adding all the tweets for each user under their username -->
  <p><%= tweet.content %></p>
  <% end %>
  <% end %>
</ul>
